﻿
<md-dialog class="post-dialog-width">
    <form class="form-horizontal" role="form" name="addBusForm" ng-controller="addBusController" novalidate>
        <md-toolbar md-scroll-shrink class="toolbarcolor">
            <div class="md-toolbar-tools">
                <h2>Add Bus</h2>
                <span flex></span>
                <i class="ion-close-circled" ng-click="cancel()"></i>

            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
           
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Bus Id</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Bus Id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">BusNumber</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="BusNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label"> Driver Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword3" placeholder=" Driver Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label"> Route id</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Route id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label"> Status</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Status">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <md-button ng-click="cancel()" class="md-raised md-warn">
                            Cancel
                        </md-button>

                        <md-button class="md-raised md-primary">Save</md-button>
                    </div>
                </div>
            </div>

           
            
        </md-dialog-content>
    </form>
</md-dialog>