﻿
<md-dialog class="post-dialog-width">
    <form class="form-horizontal" role="form" name="addBusForm" ng-controller="addRouteCtrl" novalidate>
        <md-toolbar md-scroll-shrink class="toolbarcolor">
            <div class="md-toolbar-tools">
                <h2>Add Route</h2>
                <span flex></span>
                <i class="ion-close-circled" ng-click="cancel()"></i>

            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>

            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Route Id</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Route Id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">Source</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Source">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label"> Destination</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Destination">
                    </div>
                </div>
                

                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <md-button ng-click="cancel()" class="md-raised md-warn">
                            Cancel
                        </md-button>

                        <md-button class="md-raised md-primary">Save</md-button>
                    </div>
                </div>
            </div>



        </md-dialog-content>
    </form>
</md-dialog>