﻿
<md-dialog class="post-dialog-width">
    <form class="form-horizontal" role="form" name="addBusForm" ng-controller="addStudentBusCtrl" novalidate>
        <md-toolbar md-scroll-shrink class="toolbarcolor">
            <div class="md-toolbar-tools">
                <h2>Add Student to Bus</h2>
                <span flex></span>
                <i class="ion-close-circled" ng-click="cancel()"></i>

            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>

            <div class="form-horizontal">
                
               
                <div class="form-group">
                    <label for="txtStudent" class="col-sm-4 control-label"> Student Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtStudent" placeholder="Student Name">
                    </div>
                </div>
                

                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <md-button ng-click="cancel()" class="md-raised md-warn">
                            Cancel
                        </md-button>

                        <md-button class="md-raised md-primary">Save</md-button>
                    </div>
                </div>
            </div>



        </md-dialog-content>
    </form>
</md-dialog>