﻿<div class="wrapper" ng-controller="index as vm" ng-cloak>



    <div class="topbar">

        <div class="container">

            <form class="form-horizontal offset-xs-0" name="frmwaiting" id="frmwaiting" novalidate>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <select name="selGrade" id="selGrade" ng-model="selectedGrade" class="form-control"
                                ng-change="getSectionByGradeId(selectedGrade)"
                                ng-options="item.GradeId as item.GradeName for item in grades" required>
                            <option value="">Select Grade</option>
                        </select>

                        <div ng-show="frmwaiting.selGrade.$invalid && (!frmwaiting.selGrade.$pristine || isSubmitWaiting )" ng-messages="frmwaiting.selGrade.$error">
                            <div ng-message="required" class="text-danger">Please select grade.</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <select name="selSection" id="selSection" ng-model="selectedSection" class="form-control"
                                ng-change="getStudents(selectedGrade,selectedSection)"
                                ng-options="item.SectionId as item.SectionName for item in sections" required>
                            <option value="">Select Section</option>
                        </select>

                        <!--<div ng-show="frmwaiting.selSection.$invalid && (!frmwaiting.selSection.$pristine || !isSectionSelected || isSubmitWaiting )" ng-messages="frmwaiting.selSection.$error">-->
                        <div ng-show="!isSectionSelected && isSubmitWaiting">
                            <div ng-message="required" class="text-danger">Please select section.</div>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <a class="btn btn-danger btncolor" ng-click="sendWaiting(selectedGrade,selectedSection,frmwaiting)">Send Waiting</a>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="container">
      
        <div class="row">
            <div class="col-md-4 col-sm-4 xsdiv"><h2 class="font18">Dashboard</h2></div>
            <div class="col-md-4 col-sm-4 xsdiv" id="noteDiv">
               
            </div>
            <div class="col-md-4 col-sm-4 xsdiv"></div>
        </div>
        <div class="row">

            <!--<div class="col-md-12 col-xs-12"><h4 class="heading-dashboard"> MiSK Schools Page - Dashboard</h4></div>-->
            <div class="col-md-4 col-sm-4 xsdiv">
                <div class="divheader dismissed headerbg">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <h2 class="h2Bold">Waiting</h2>
                            <span class="text-red textredmargins">&nbsp;</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <md-switch ng-model="chkwaiting" aria-label="Switch 1" ng-change="onChange(chkwaiting)" ng-disabled="!vm.waitingStudents.length > 0">
                                Select All
                            </md-switch>
                        </div>

                        <div class="col-md-6 col-xs-6">
                            <select name="selWaitGate" id="selWaitGate" ng-model="selectedTopGate" ng-disabled="!chkwaiting" class="form-control selectgate"
                                    ng-options="item.GateId as item.GateName for item in gates">
                                <option value="">Select Gate</option>
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <a class="btn btn-block btncolor" ng-click="sendAllQueue(selectedTopGate)" ng-disabled="!chkwaiting || !selectedTopGate">Send Queue</a>
                            <input type="text" ng-model="waitingSearch" id="txtWaitingSearch" name="txtWaitingSearch" class="form-control mt-10" placeholder="Search..." />
                        </div>
                    </div>
                </div>
                <div class="divscorll">
                    <div ng-class="{'nano':vm.waitingStudents.length>2 && filteredWaitingStudents.length>2}">
                        <div class="content">
                            <div class="d_list">
                                <div class="tile" data-ng-repeat="student in (filteredWaitingStudents=(vm.waitingStudents | filter:waitingSearch))">
                                    <label>
                                        <div class="topright"><input class="d_list_checkbox" type="checkbox" ng-model="student.selected" ng-checked="selectedGate[$index]" /></div>
                                        <div class="namelist"><span>Name:</span><span>{{student.FullName}}</span></div>
                                        <!--<div class="namelist"><span>Father Name:</span><span></span></div>-->
                                        <div class="namelist">
                                            <span class="gradediv">{{student.GradeName}}</span>
                                            <span class="sectiondiv">Section:{{student.SectionName}}</span>
                                        </div>
                                    </label>
                                    <div class="boxFooter">
                                        <div class="col-md-6 col-xs-6">
                                            <select name="selGate" id="selGate" ng-model="selectedGate[$index]" class="form-control"
                                                    ng-options="item.GateId as item.GateName for item in gates" ng-disabled="chkwaiting || !student.selected" required>
                                                <option value="">Select Gate</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6 col-xs-6">
                                            <!--ng-disabled="!selectedGate[$index]"-->
                                            <input type="button" class="btn btncolor btn-block" value="Send Queue" ng-disabled="chkwaiting"
                                                   id="btnQueue[$index]" name="btnQueue[$index]" ng-click="sendToQueue(student,selectedGate[$index],$index)" />
                                            <label id="message[$index]" name="message[$index]" ng-show="gateValidation[$index]">Please select gate </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="norecords" ng-if="vm.waitingStudents.length==0 || filteredWaitingStudents.length==0">
                                    <label class="norecord-label">
                                        No records found
                                    </label>
                                    <div class="boxFooter">
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 xsdiv">
                <div class="divheader queued headerbg">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <h2 class="h2Bold">In Queue</h2>
                            <span class="text-red textredmargins">Note:You have to dismiss students in five minutes.</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <md-switch ng-model="chkinqueue" aria-label="Switch 1" ng-change="onQueueChange(chkinqueue)" ng-disabled="!vm.queueStudents.length > 0">
                                Select All
                            </md-switch>
                        </div>

                        <div class="col-md-6 col-xs-6" style="padding: 0px 10px 0px 0px;">
                            <a href="#" class="btn  btncolor btn-block selectgate" ng-disabled="!chkinqueue" ng-click="sendBackAllFromQueueToWaiting()">Back To Waiting</a>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <a href="#" class="btn  btncolor btn-block" ng-disabled="!chkinqueue" ng-click="sendAllToDismiss()">Dismiss All</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <input type="text" ng-model="queueSearch" id="txtQueueSearch" name="txtQueueSearch" class="form-control mt-10" placeholder="Search..." />
                        </div>
                    </div>

                </div>
                <div class="divscorll">
                    <div class="nano" ng-class="{'nano':vm.queueStudents.length>2 && filteredQueueStudents.length>2}">
                        <div class="content">
                            <div class="d_list">
                                <div class="tile" data-ng-repeat="queueStudent in (filteredQueueStudents=(vm.queueStudents | filter:queueSearch))">
                                    <label>
                                        <div class="topright"><input class="d_list_checkbox" type="checkbox" ng-model="queueStudent.selected" /></div>
                                        <div class="namelist"><span>Name:</span><span>{{queueStudent.FullName}}</span></div>
                                        <!--<div class="namelist"><span>Father Name:</span></div>-->
                                        <div class="namelist">
                                            <span class="gradediv">Grade:{{queueStudent.Grade}}</span>
                                            <span class="sectiondiv">Section:{{queueStudent.SectionName}}</span>
                                        </div>
                                    </label>
                                    <div class="boxFooter">
                                        <div class="col-md-6 col-xs-6">
                                            <a class="btn btn-block btncolor" ng-click="sendBackFromQueueToWaiting(queueStudent,$index)" ng-disabled="chkinqueue">Back To Waiting</a>
                                        </div>

                                        <div class="col-md-6 col-xs-6">
                                            <a class="btn btn-block btncolor" ng-click="sendToDismiss(queueStudent,$index)" ng-disabled="chkinqueue">Dismiss</a>   <!--ng-disabled="!queueStudent.selected"-->
                                        </div>
                                    </div>
                                </div>
                                <div class="norecords" ng-if="vm.queueStudents.length==0 || filteredQueueStudents.length==0">
                                    <label class="norecord-label">
                                        No records found
                                    </label>
                                    <div class="boxFooter">
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-sm-4 xsdiv">
                <div class="divheader successfully headerbg">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <h2 class="h2Bold">Dismissed and Picked Up</h2>
                            <span class="text-red textredmargins">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <md-switch ng-model="chkDismissed" aria-label="Switch 1" ng-change="onDismissedChange(chkDismissed)" ng-disabled="!vm.dismissStudents.length > 0">
                                Select All
                            </md-switch>
                        </div>

                        <div class="col-md-6 col-xs-6" style="padding: 0px 10px 0px 0px;">
                            <a href="#" class="btn  btncolor btn-block selectgate" ng-disabled="!chkDismissed" ng-click="sendBackAllFromDismissedToQueue()">Back To Queue</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <br /><br />
                            <input type="text" ng-model="dismissedSearch" id="txtDismissedSearch" name="txtDismissedSearch" class="form-control" style="margin-top:3px" placeholder="Search..." />


                        </div>
                    </div>

                </div>
                <div class="divscorll">
                    <div class="nano" ng-class="{'nano':(vm.dismissStudents.length>2 && filteredDismissedStudents.length>2) || (vm.pickupStudents.length>2 && filteredPickedUpStudents.length>2)}">
                        <div class="content">
                            <div class="d_list">
                                <div class="tile" data-ng-repeat="dismissedStudent in (filteredDismissedStudents=(vm.dismissStudents | filter:dismissedSearch))">
                                    <label>
                                        <div class="topright"><input class="d_list_checkbox" type="checkbox" ng-model="dismissedStudent.selected" /></div>
                                        <div class="namelist"><span>Name:</span><span>{{dismissedStudent.FullName}}</span></div>
                                        <div class="namelist">
                                            <!--<span class="gradediv">Father Name:</span>-->
                                            <span class="sectiondiv">Status:<em class="text-red">Pending</em></span>
                                        </div>

                                        <div class="namelist">
                                            <span class="gradediv">Grade:{{dismissedStudent.Grade}}</span>
                                            <span class="sectiondiv">Section:{{dismissedStudent.SectionName}} </span>
                                        </div>

                                    </label>
                                    <div class="boxFooter">
                                        <div class="col-md-6 col-xs-6">

                                        </div>

                                        <div class="col-md-6 col-xs-6">
                                            <a class="btn btn-block btncolor" ng-click="sendBackFromDismissToQueue(dismissedStudent,$index)" ng-disabled="chkDismissed">Back To Queue</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tile" data-ng-repeat="pickedStudent in (filteredPickedUpStudents=(vm.pickupStudents | filter:dismissedSearch))">
                                    <label>
                                        <div class="namelist"><span>Name:</span><span>{{pickedStudent.FullName}} </span></div>
                                        <div class="namelist">
                                            <!--<span class="gradediv">Father Name:</span>-->
                                            <span class="sectiondiv">Status:<em class="text-green">PickedUp</em></span>
                                        </div>
                                        <div class="namelist">
                                            <span class="gradediv">Grade:{{pickedStudent.Grade}}</span>
                                            <span class="sectiondiv">Section:{{pickedStudent.SectionName}}</span>
                                        </div>
                                    </label>
                                    <div class="boxFooter">
                                        <br /><br />
                                    </div>
                                </div>
                              
                                <div class="norecords" ng-if="(vm.dismissStudents.length==0 || filteredDismissedStudents.length==0) && (vm.pickupStudents.length==0 || filteredPickedUpStudents.length==0)">
                                    <label class="norecord-label">
                                        No records found
                                    </label>
                                    <div class="boxFooter">
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <md-progress-circular md-diameter="70" ng-class="{'hide-loader':hideLoader}" md-mode="{{progressMode}}"></md-progress-circular>
</div>