﻿

<div ng-controller="routeDetails">

    <md-toolbar class="toolbarcolor">
        <div class="md-toolbar-tools">
            <!--<md-button aria-label="Go Back">
                Go Back
            </md-button>-->
            <h2>
                <span>Route Details</span>
            </h2>
            <span flex></span>

            <md-button class="md-fab md-mini" aria-label="Favorite">
                <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
                <div id="circle2" class="button" ng-click="addRoute()">Add</div>
            </md-button>
        </div>
    </md-toolbar>

    <div class="col-md-12">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="info">
                        <th>Route</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>

                        <td>Route1</td>
                        <td>Source1</td>
                        <td>Destination1</td>
                        <td>

                            <i class="icon ion-android-delete" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-edit" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-person-add" ng-click="addPickUpPoints()" style="cursor:pointer;"></i>
                        </td>
                    </tr>
                    <tr>

                        <td>Route1</td>
                        <td>Source1</td>
                        <td>Destination1</td>
                        <td>

                            <i class="icon ion-android-delete" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-edit" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-person-add" ng-click="addPickUpPoints()" style="cursor:pointer;"></i>
                        </td>
                    </tr>
                    <tr>

                        <td>Route1</td>
                        <td>Source1</td>
                        <td>Destination1</td>
                        <td>

                            <i class="icon ion-android-delete" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-edit" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-person-add" ng-click="addPickUpPoints()" style="cursor:pointer;"></i>
                        </td>
                    </tr>
                    <tr>

                        <td>Route1</td>
                        <td>Source1</td>
                        <td>Destination1</td>
                        <td>

                            <i class="icon ion-android-delete" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-edit" ng-click="cancel()"></i>
                            &nbsp;
                            <i class="icon ion-person-add" ng-click="addPickUpPoints()" style="cursor:pointer;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>







    </div>
</div>