﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@{
    ViewData["Title"] = "Sections";
}
@section scripts{

    <script src="~/app/grade/gradeApp.js"></script>
    <script src="~/app/grade/gradeList.js"></script>
    <script src="~/app/grade/saveGrade.js"></script>
    <script src="~/app/grade/sections.js"></script>
    <script src="~/app/grade/addSection.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
}


@section jsCode {
    angular.bootstrap(document.getElementById("grades"), ['grade']);
}


<div id="grades">
    <div ng-view></div>
</div>
<div class="col-md-10">
    <a href="/gradeList" class="btn btn-default btncolor">Back To Grades</a>
</div>
