﻿<md-dialog class="post-dialog-width">
    <form class="form-horizontal" role="form" name="addPostForm" ng-controller="addPostController as post" novalidate>
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
                <h2 translate="Layout.AddPost">Add Post</h2>
                <span flex></span>
                <i class="material-icons" ng-click="cancel()">clear</i>

            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
            <md-input-container class="md-block">
                <label translate="Layout.PostTitle">Type some text, paste a link</label>
                <input type="text" ng-model="post.title" id="title" name="title" required />
                <div ng-show="addPostForm.title.$invalid && (!addPostForm.title.$pristine || isSubmit )" ng-messages="addPostForm.title.$error">
                    <div ng-message="required" translate="Layout.TitleRequired">Title is required.</div>
                </div>
            </md-input-container>
            <md-chips class="p20" ng-model="post.keywords"  md-on-append="createChip($chip)" md-autocomplete-snap >
                <md-autocomplete md-selected-item="selectedItem"
                                 md-no-cache="true"
                                 md-min-length="0"
                                 md-search-text="searchText"
                                 md-items="item in querySearch(searchText)"
                                 md-item-text="item.name"
                                 placeholder="Select keyword from list or create your own keyword by cliking enter key">
                    <span md-highlight-text="searchText">{{item.name}}</span>
                    <md-not-found>
                        <span translate="Layout.EnterCustomKeywords">No keywords matching.Create your own keyword by clicking enter key.</span>
                    </md-not-found>

                </md-autocomplete>
                <md-chip-template>
                    <span>
                        {{$chip.name || $chip}}
                    </span>
                </md-chip-template>
            </md-chips>

            <p ng-show=isKeywords class="help-block" translate="Layout.KeywordsRequired">Keywords are required</p>

            <br /><br />

            <div class="drag-box pt20">
                <label class="control-label" for="pwd" translate="Layout.UploadImageOrVideo">Upload image or video:</label>
                <div>
                    <div ngf-drop ngf-select ng-model="file" class="drop-box" name="file" ng-class="{'drop-box-empty':!file}"
                         ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                         accept="image/*,video/*"
                         ngf-pattern="'image/*,video/*'" required>
                        <span ng-show="!file" translate="Layout.DropImage"> Drop image here or click to upload</span>
                        <img ngf-src="file" style="max-height:180px;">
                        <video controls="" ngf-src="file"></video>
                    </div>
                    <div ngf-no-file-drop translate="Layout.FileDragNotSupported">File drag and drop is not supported for this browser</div>
                    <p ng-show="addPostForm.file.$invalid && (!addPostForm.file.$pristine || isSubmit )" class="help-block" translate="Layout.ImageRequired">Image or video is required</p>

                </div>
            </div>
            <md-checkbox ng-model="post.isAnonymous" aria-label="isactive">
                <span translate="Layout.PostAsAnonymous">Post as a anonymous user</span> 
            </md-checkbox>
            <md-checkbox aria-label="related content" ng-if="sectionName=='B'" ng-model="post.relatedContent" ng-click="addRelatedContent()">
                <span translate="Layout.AddRelatedContent">Add related content</span>
            </md-checkbox>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button ng-click="cancel()" class="md-raised md-warn" translate="Layout.Cancel">
                    Cancel
                </md-button>
                <md-button ng-click="save(addPostForm)" class="md-raised md-blue" ng-disabled="disableSave" style="margin-right:20px;" translate="Layout.Post">
                    Post
                </md-button>
            </div>
            <md-progress-circular md-diameter="96" ng-class="{'hide-loader':hideLoader}"  class="circular-progress" md-mode="{{progressMode}}" ></md-progress-circular>
        </md-dialog-content>
    </form>
</md-dialog>