@media (max-width:1400px) {
.loginimg {   
    width: 980px;
    
}
.textredmargins{    
    display:inline-block;
    text-align:center;
   
}
.bg-color {   
    overflow-x: hidden;
}

}
@media (max-width:1024px) {
    .datediv { width:48%; }
.divscorll .nano .content {   
    right: -10px;
}
 .form-control {
        padding: 6px 2px;
        margin-bottom: 5px;
    }
 .loginfooter {
    padding-left:0;
     


}
  .divheader h2 {  
    height: 20px;
    font-size:16px;
  }
    .xsdiv {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
 
}


@media (max-width: 768px) {
    .datediv { width:43%; }
    .waitingcount {
     position:relative;
     top:-5px;
    }
.loginimg img{width:100%;} 
.loginimg { 
    width: 980px;
}
.logindetails {
    /*background: rgba(13, 57, 42, 0.9) none repeat scroll 0 0;    
    float: left;
    left: 0;
    margin: 0 auto;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 250px;
    width: 50%;*/
    float: left;
    width: 421px;
    padding: 28px;
    position: fixed;
    right: 0;
    background: #0d392a;
    height: 100%;
}
.divscorll .nano .content {   
    right: -10px;
}
 .newaccount {
        margin-top: 80px;
    }
  .form-control {
        padding: 6px 2px;
        margin-bottom: 5px;
    }
   .loginfooter {
        
            display:none;
    }
   .divscorll{padding-bottom: 0px;}

   .xsdiv {
    width:49% !important;    
    float:left;
}
  

}

@media (max-width:767px) {
    .heading-dashboard{
      font-size:18px;
     }
    .loginimg {
        display: block;
    }

    .loginLogo {
        margin-bottom: 40px;
        text-align: center;
        width: 100%;
    }

    #loginForm {
        padding-bottom: 50px;
    }

    .logindetails {
        /*width: 100%;
        background: rgba(13, 57, 42, 1);
        top: 0;
        min-height:100%;*/

       float: left;
    width: 421px;
    padding:28px;
    position: fixed;
    right: 0;
    background: #0d392a;
    height: 100%;
    
    }

    .navbar-toggle {
        margin-right: 70px;
    }

    .content-visitor {
        width: 80%;
    }

    .content-visitor-div {
        left: 80px;
    }

    .divscorll .nano .content {
        right: -8px;
    }

    ul.notifications_list {
        display: inline-block;
        margin: 0;
        width: 82%;
        padding: 0px;
    }

    .navbar-right .dropdown-menu {
        top: 34px;
        left: -120px;
    }

    .sidenav-div {
        width: 315px;
    }

    .newaccount {
        margin-top: 30px;
    }

    .sidenavHeader .col-xs-4, .sidenavHeader .col-xs-5 {
        padding: 0px 2px;
    }

    .loginfooter {
        padding-left: 0%;
        text-align: center;
            width: 90%;
            display:block
    }

    .form-control {
        padding: 6px 2px;
        margin-bottom: 3px;
    }

    .forgotbg h2 {
        font-size: 20px;
    }

    ul.notifications_list li {
        padding: 8px 8px 8px 17px;
    }

    /*.footer {
        position: relative !important;
    }*/

    .wrapper {
        padding-bottom: 50px;
    }

    .f_date {
        display: inline-block;
        width: 70px;
        text-align: right;
    }
}

@media (max-width:490px) {
    .datediv { width:100%; }
.tilteText {
    color: #fff;
    text-align: center;
    padding-top:0px;
    width: 100%;
    float: left;
    padding-bottom: 3px;
    font-size:13px;
}
.wrapper {
    
    top:67px;
   
}
.xsdiv {
    width:100% !important;
    display: inline-block;
}
}
@media (max-width:425px) {
    .topbar .col-xs-4 { padding: 4px; }
    .topbar .btncolor {  font-size:13px;    padding: 7px 8px;}
    .form-control {
    padding: 6px 0px;
    margin-bottom: 0px;
}
    .loginimg {
        display: none;
    }
    .logindetails { width: 100%;
        background: rgba(13, 57, 42, 1);
        top: 0;
        min-height:100%; }
}
