﻿


<div class="wrapper" ng-controller="notificationsList" ng-cloak>

    <div class="topbar">
        <div class="container">
            <form class="form-horizontal offset-xs-0" name="frmwaiting" id="frmwaiting" novalidate>

                <div class="row">
                    <!--<div class="col-md-2 col-sm-6">-->
                    <div class="col-md-5 col-sm-5 col-xs-12 select-notifications">
                        <div class="col-md-4 col-sm-4 col-xs-12 select-notifications1">
                            <select name="selGrade" id="selGrade" ng-model="selectedGrade" class="form-control mt-20"
                                    ng-change="getSectionByGradeId(selectedGrade)"
                                    ng-options="item.GradeId as item.GradeName for item in grades" required>
                                <option value="">Select Grade</option>
                            </select>

                            <div ng-show="frmwaiting.selGrade.$invalid && (!frmwaiting.selGrade.$pristine || isSubmitWaiting )" ng-messages="frmwaiting.selGrade.$error">
                                <div ng-message="required" class="text-danger">Please Select Grade.</div>
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 select-notifications1">

                            <select name="selSection" id="selSection" ng-model="selectedSection" class="form-control mt-20"
                                    ng-change="getStudents(selectedGrade,selectedSection)"
                                    ng-options="item.SectionId as item.SectionName for item in sections" required>
                                <option value="">Select Section</option>
                            </select>
                            <div ng-show="frmwaiting.selSection.$invalid && (!frmwaiting.selSection.$pristine || isSubmitWaiting )" ng-messages="frmwaiting.selSection.$error">
                                
                                    <div ng-message="required" class="text-danger">Please Select Section.</div>
                                </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 select-notifications1">

                            <select name="selStatus" id="selStatus" ng-model="selectedStatus" class="form-control mt-20" required>
                                <option value="">Select Status</option>
                                <option value="All">Select All</option>
                                <!--<option value="InWaiting">Waiting</option>-->
                                <option value="InQueue">InQueue</option>
                                <option value="In Dismiss">Dismiss</option>
                                <option value="PickedUp">PickedUp</option>
                                <option value="Reminder">Reminder</option>
                                <option value="NearBy">NearBy</option>



                            </select>
                            <div ng-show="frmwaiting.selStatus.$invalid && (!frmwaiting.selStatus.$pristine || isSubmitWaiting )" ng-messages="frmwaiting.selStatus.$error">

                                <div ng-message="required" class="text-danger">Please Select Status.</div>
                            </div>
                        </div>


                    </div>



                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="datediv">
                            <span class="f_date">From Date</span>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <div class="input-group">
                                        <input type="text" id="dtStartDate" name="dtStartDate" class="form-control" data-ng-model="startDate" data-date-time-input="MM-DD-YYYY" placeholder="MM-DD-YYYY"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar datcolor"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="startDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',startView:'day', minView:'day' }" />
                                </ul>
                            </div>
                            <!--<md-datepicker id="dtStartDate" name="dtStartDate" ng-model="startDate" md-placeholder="Start date" md-open-on-focus></md-datepicker>-->

                            <div ng-show="frmwaiting.dtStartDate.$invalid && (!frmwaiting.dtStartDate.$pristine || isSubmitWaiting )" ng-messages="frmwaiting.dtStartDate.$error">
                                <div ng-message="required" style="color:#b94a48">Proper start date is required.</div>
                            </div>
                            <div ng-message="required" style="color:#b94a48" ng-show="isgreaterdate">Start date should not be greater than to end date.</div>


                        </div>
                        <div class="datediv">
                            <span class="f_date">End Date</span>
                            <!--<md-datepicker id="dtEndDate" name="dtEndDate" ng-model="endDate" md-placeholder="End date" md-open-on-focus></md-datepicker>-->
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <div class="input-group">
                                        <input type="text" id="dtEndDate" name="dtEndDate" class="form-control" data-ng-model="endDate" data-date-time-input="MM-DD-YYYY" placeholder="MM-DD-YYYY"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar datcolor"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="endDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',startView:'day', minView:'day'}" />
                                </ul>
                            </div>

                            <div ng-show="frmwaiting.dtEndDate.$invalid && (!frmwaiting.dtEndDate.$pristine || isSubmitWaiting )" ng-messages="frmwaiting.dtEndDate.$error">
                                <div ng-message="required" style="color:#b94a48">Proper end date is required.</div>
                            </div>
                        </div>
                        <a class="btn btn-danger btncolor mt-20" ng-click="getReport(selectedGrade,selectedSection,startDate,endDate,frmwaiting,selectedStatus)">Show</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="container">


        <div class="row">
            <div class="col-md-6 col-xs-8"><h2 class="font18">{{title}}</h2></div>
            <!--<div class="col-md-6"><a class="btn btncolor btnexport" ng-click="exportReport()" >Export</a></div>-->
            <!--<a class="btn btncolor btnexport" ng-click="exportReport()">Export</a>-->
            <input type="button" class="btn btncolor btnexport" id="btnExport" name="btnExport" ng-click="exportReport()" value="Export" />

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Guardian</th>
                                <th>Status</th>
                                <th>Message</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Grade</th>
                                <th>Section</th>
                            </tr>
                            <tr ng-if="notifications.length==0" class="no-result">
                                <td colspan="15"> <span ng-show="noRecords">{{message}}</span></td>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<tr ng-repeat="item in notifications">-->
                            <tr data-ng-repeat="item in notifications
                                 |startFrom:CurrentPage*pageSize | limitTo:pageSize">
                                <td>{{item.StudentName}}</td>
                                <td>{{item.GuardianName}}</td>
                                <td>{{item.Status}}</td>
                                <td width="35%"><span ng-bind-html="encodeHtml(item.Message)"></span></td>
                                <td width="18%">{{item.NotificationDate}}</td>
                                <td width="15%">{{item.NotificationTime}}</td>
                                <td width="15%">{{item.GradeName}}</td>
                                <td>{{item.SectionName}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>





    <div ng-show="notifications.length > 0" class="text-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btncolor btnnext" ng-disabled="CurrentPage == 0" ng-click="CurrentPage=CurrentPage-1">
                        Previous
                    </button>
                    {{CurrentPage+1}}/{{numberOfPages()}}
                    <button class="btn btncolor btnnext" ng-disabled="CurrentPage >= notifications.length/pageSize - 1" ng-click="CurrentPage=CurrentPage+1">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>