﻿@using MSPPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="bg-color" style="margin-bottom:-60px;">

    <div class="loginimg"><img src="~/Content/Images/login_banner.jpg" /></div>

    <div class="logindetails">

        <div class="loginLogo">
            <a href="#"><img src="~/Content/Images/home_logo.png" /> </a>
        </div>
        <div>
            <h3 class="login-title zoomIn">MiSK Schools Page - Portal</h3>
        </div>

        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal ", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-bottom">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <md-input-container>
                        <label asp-for="Email">Email</label>
                        @Html.TextBoxFor(m => m.Email,new {@autocomplete="off"})
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </md-input-container>

                    <md-input-container style="display:none">
                        <label asp-for="Password">Password</label>
                        <input type="password"  autocomplete="off" />
                    </md-input-container>


                    <md-input-container>
                        <label asp-for="Password">Password</label>
                        @Html.PasswordFor(m => m.Password, new { @autocomplete = "off", @onkeypress = "return event.charCode !=32" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </md-input-container>



                    @*<md-checkbox ng-model="cb1" aria-label="Checkbox 1" asp-for="RememberMe">
                            Remember Me
                        </md-checkbox>*@

                    @*<md-checkbox ng-model="cb1" md-no-ink aria-label="Checkbox 1" class="md-primary" asp-for="RememberMe">
                            Remember Me
                        </md-checkbox>*@


                    <div>
                        <button type="submit" class="btn btn-block  btncolor btn-login">Log in </button>
                    </div>

                    <div class="fordiv" >
                      
                          
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                       
                    </div>
                    

                </div>
            }
        </section>
        <div class="loginfooter">&copy; 2016 - MiSK Schools Page</div>

    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type='text/javascript'>
        $(function () {
            $('.loginimg img').css({ 'height': (($(document).height()) - 0) + 'px' });

            $(window).resize(function () {
                $('.loginimg img').css({ 'height': (($(document).height()) - 0) + 'px' });
            });


        });
    </script>
}








