﻿@model MSPPortal.Models.RegisterViewModel
@{
    ViewBag.Title = "Add Observer";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3  col-xs-offset-3">
                <div class="newaccount">
                    <h4>Create Observer</h4>
                    <div class="col-md-12">
                        <md-input-container>
                            <label asp-for="name">Name</label>
                            @Html.TextBoxFor(m => m.Name, new { @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        <md-input-container>
                            @Html.Hidden("InitialEmail", Model.Email)
                            <label asp-for="Email">Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </md-input-container>
                    </div>
                    <div class="col-md-12">

                        <md-input-container>

                            @Html.Hidden("InitialMobileNumber", Model.MobileNumber)
                            <label asp-for="MobileNumber">Mobile Number</label>
                            @Html.TextBoxFor(m => m.MobileNumber, new { @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger" })
                        </md-input-container>
                    </div>

                    <div class="col-md-12">

                        <md-input-container>
                          
                            @Html.DropDownListFor(m => m.RoleName, new SelectList(Model.Roles,"Id","Name"),"Select Role", new {@class="form-control" })
                            @Html.ValidationMessageFor(m => m.RoleName, "", new { @class = "text-danger" })

                        </md-input-container>
                    </div>

                    <br />

                    <div class="col-md-10">
                        <input type="submit" class="btn btn-default btncolor" value="Save" id="btnSaveStaff" />
                        <a href="/staffList" class="btn btn-default btncolor">Back To Observer List</a>

                    </div>


                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script type="text/javascript">
        $(document).ready(function () {

            $("#MobileNumber").keydown(function (event) {

                if (event.shiftKey) {
                    event.preventDefault();
                }
                if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39) {
                }
                else if ($("#MobileNumber").val().length > 11) {
                    event.preventDefault();
                }
                else {
                    if (event.keyCode < 95) {
                        if (event.keyCode < 48 || event.keyCode > 57) {
                            event.preventDefault();
                        }
                    }
                    else {
                        if (event.keyCode < 96 || event.keyCode > 105) {
                            event.preventDefault();
                        }
                    }
                }

            });

            $('form').submit(function () {
                if ($(this).valid()) {
                    $('#btnSaveStaff').css('background-color', 'lightseagreen').prop('disabled', 'disabled');
                }
            });
        });
    </script>
}
