﻿@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="bg-color" style="margin-bottom:-60px;">
    <div class="loginimg"><img src="~/Content/Images/login_banner.jpg" /></div>

    <div class="logindetails">
        <div class="loginLogo">
            <a href="#"><img src="~/Content/Images/home_logo.png" /> </a>
        </div>
        <div>
            <h3 class="login-title zoomIn">MiSK Schools Page - Portal</h3>
        </div>
        <h3>@ViewBag.Title.</h3>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
        <div class="loginfooter">&copy; 2016 - MiSK Schools Page</div>

    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type='text/javascript'>
        $(function () {
            $('.loginimg img').css({ 'height': (($(document).height()) - 0) + 'px' });

            $(window).resize(function () {
                $('.loginimg img').css({ 'height': (($(document).height()) - 0) + 'px' });
            });


        });
</script>
    }