﻿@{
    ViewData["Title"] = "Home Page";
}

@section scripts{

  
    <script src="~/app/home/app.js"></script>
    <script src="~/app/home/index.js"></script>
    <script src="~/app/home/busDetails.js"></script>
    <script src="~/app/home/routeDetails.js"></script>
    <script src="~/app/home/addBus.js"></script>
    <script src="~/app/home/addStudentBus.js"></script>
    <script src="~/app/home/addRoute.js"></script>
    <script src="~/app/home/busStudents.js"></script>
    @*<script src="~/app/home/staffRegister.js"></script>
    <script src="~/app/home/staffList.js"></script>*@


}

@section jsCode {
    angular.bootstrap(document.getElementById("home"), ['home']);
}


<div id="home">
    <div ng-view></div>
</div>
