﻿@{
    ViewData["Title"] = "Observer";
}

@section scripts{

<script src="~/app/staff/app.js"></script>
<script src="~/app/staff/staffList.js"></script>
<script src="~/app/staff/staffDashboard.js"></script>
}

@section jsCode {
    angular.bootstrap(document.getElementById("staff"), ['staff']);
}


<div id="staff">
    <div ng-view></div>
    <input type="hidden" value="@ViewBag.SuccessMessage" id="hdnSuccessMessage" name="hdnSuccessMessage" />
</div>
