﻿<md-dialog class="student-dialog-width" id="newstudent">
    <form id="frmGate" name="frmGate">
        <md-dialog-container>
            <md-dialog-content layout-padding>
                <div ng-controller="saveGate" ng-cloak>
                    {{title}}
                    <md-content layout-gt-sm="row" layout-padding>

                        <md-input-container>
                            <label>Gate Name</label>

                            <input id="txtGateName" name="txtGateName" ng-model="gate.GateName" required />  <!--ng-change="isNameexist();"-->
                            <div ng-show="frmGate.txtGateName.$invalid && (!frmGate.txtGateName.$pristine || isSubmit )">
                                <div class="text-danger">Gate Name is required.</div>
                            </div>
                            <!--<div ng-show="iscategory">
                                <div ng-message="required">Name already existed.</div>
                            </div>-->

                        </md-input-container>

                    </md-content>



                    <input type="button" class="btn btncolor btnexport" id="btnSave" name="btnSave" ng-click="saveGate(frmGate)" value="Save" />
                    <input type="button" class="btn btncolor btnexport" id="btnCancel" name="btnCancel" ng-click="cancel()" value="Cancel" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </md-dialog-content>
        </md-dialog-container>
    </form>
</md-dialog>