﻿


<div class="wrapper" ng-controller="gateList" ng-cloak>

    <div class="topbar gradeList">

        <div class="container">
            <div class="col-md-6 col-xs-8"><h2 class="font20">{{title}}</h2></div>
          
            <div class="col-md-2 col-sm-3 col-xs-4">
                <input type="button" class="btn btncolor btnexport" id="btnRegister" name="btnRegister" ng-click="addGate()" value="Add Gate" />
            </div>
        </div>
    </div>


    <div class="container">


        <div class="row">


            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Gate Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr data-ng-repeat="item in gates|startFrom:CurrentPage*pageSize | limitTo:pageSize">

                                <td>{{item.GateName}}</td>
                                <td>
                                    <button type="button" class="btn btncolor" id="btnEdit" name="btnEdit" ng-click="editGate(item,$index)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>

                                    <button type="button" class="btn btn-danger" id="btnDelete" name="btnDelete" ng-click="deleteGate(item.GateId,item.GateName,$index)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                   

                                   
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>

    <div ng-show="gates.length > 0" class="text-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btncolor btnnext" ng-disabled="CurrentPage == 0" ng-click="CurrentPage=CurrentPage-1">
                        Previous
                    </button>
                    {{CurrentPage+1}}/{{numberOfPages()}}
                    <button class="btn btncolor btnnext" ng-disabled="CurrentPage >= gates.length/pageSize - 1" ng-click="CurrentPage=CurrentPage+1">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>




</div>