﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @*<input type="text" id="firstName" name="firstName">
            <input type="submit" value="submit" id="btnsubmit" name="btnsubmit" />*@
        }
       
    </div>
</body>
</html>
