﻿

@{
    ViewData["Title"] = "Notification History";
}

@section scripts{

    <script src="~/app/notification/notificationApp.js"></script>
    <script src="~/app/notification/notificationsList.js"></script>
    
}


@section jsCode {
    angular.bootstrap(document.getElementById("notification"), ['notification']);
}


<div id="notification">
    <div ng-view></div>
</div>
