﻿@model MSPPortal.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   
    <hr />
   


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3  col-xs-offset-3">
                <div class="newaccount">
                    <h4>Change Password </h4>
                   
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <md-input-container>
                            <label asp-for="OldPassword">Old Password</label>
                            @Html.PasswordFor(m => m.OldPassword, new { @autocomplete = "off", @onkeypress = "return event.charCode !=32" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        <md-input-container>
                            <label asp-for="NewPassword">New Password</label>
                            @Html.PasswordFor(m => m.NewPassword, new { @autocomplete = "off", @onkeypress = "return event.charCode !=32" })
                          
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        <md-input-container>
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @autocomplete = "off", @onkeypress = "return event.charCode !=32" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        
                            <input type="submit" value="Change password" class="btn btn-default btncolor" />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


                   
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function myFunction(event) {

        var x = event.which || event.keyCode;
       
        if (x == 32) {
            alert(x);
            return false;
        }
    }
</script>
