﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@{
    ViewData["Title"] = "Students";
}
@section scripts{

    <script src="~/app/student/studentApp.js"></script>
    <script src="~/app/student/studentList.js"></script>
    <script src="~/app/student/saveStudent.js"></script>
    <script src="~/app/student/guardianList.js"></script>
    <script src="~/app/student/guardian.js"></script>
    <script src="~/app/student/linkGuardian.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
}


@section jsCode {
    angular.bootstrap(document.getElementById("student"), ['student']);
}


<div id="student">
    <div ng-view></div>
</div>
