﻿


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@{
    ViewData["Title"] = "Students";
}
@section scripts{


    <script src="~/app/gates/gatesApp.js"></script>
    <script src="~/app/gates/gateList.js"></script>
    <script src="~/app/gates/gate.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
}


@section jsCode {
    angular.bootstrap(document.getElementById("gate"), ['gate']);
}


<div id="gate">
    <div ng-view></div>
</div>


