﻿<md-dialog class="student-dialog-width" id="newstudent">
    <form id="frmSection" name="frmSection" ng-submit="addGrade(frmSection.$valid)" novalidate>
        <md-dialog-container>
            <md-dialog-content layout-padding>
                <div ng-controller="addSection" ng-cloak>
                    {{title}}
                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>

                        <!--<md-input-container>
                            <label>Grade Name</label>
                            <input id="txtGradeName" name="txtGradeName" ng-model="section.GradeName" required />

                            <div ng-show="frmSection.txtGradeName.$invalid && (!frmSection.txtGradeName.$pristine || isSubmit )">
                                <div ng-message="required" class="text-danger">Grade Name is required.</div>

                            </div>
                        </md-input-container>-->

                        <md-input-container>
                            <label>Section Name</label>
                            <input id="txtSectionName" name="txtSectionName" ng-model="section.SectionName" required />  <!--ng-change="isNameexist();"-->

                            <div ng-show="frmSection.txtSectionName.$invalid && (!frmSection.txtSectionName.$pristine || isSubmit)">
                                <div class="text-danger">Section Name is required.</div>

                            </div>
                        </md-input-container>

                    </md-content>



                    <input type="button" class="btn btncolor btnexport" id="btnSave" name="btnSave" ng-click="addSection(frmSection)" value="Save" />
                    <input type="button" class="btn btncolor btnexport" id="btnCancel" name="btnCancel" ng-click="cancel()" value="Cancel" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </md-dialog-content>
        </md-dialog-container>
    </form>
</md-dialog>