﻿

<div class="wrapper" ng-controller="gradeList" ng-cloak>

    <div class="topbar gradeList">

        <div class="container">
            <div class="col-md-6 col-xs-8"><h2 class="font20">{{title}}</h2></div>
            <!--<form class="form-horizontal offset-xs-0" name="frmwaiting" id="frmwaiting" novalidate>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <select name="selGrade" id="selGrade" ng-model="selectedGrade" class="form-control"
                                ng-change="getSectionByGradeId(selectedGrade)"
                                ng-options="item.GradeId as item.GradeName for item in grades" required>
                            <option value="">Select Grade</option>
                        </select>

                        <div ng-show="frmwaiting.selGrade.$invalid && (!frmwaiting.selGrade.$pristine || isSubmitWaiting )" ng-messages="frmwaiting.selGrade.$error">
                            <div ng-message="required" class="text-danger">Please select grade.</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <select name="selSection" id="selSection" ng-model="selectedSection" class="form-control"
                                ng-change="getStudents(selectedGrade,selectedSection)"
                                ng-options="item.SectionId as item.SectionName for item in sections" required>
                            <option value="">Select Section</option>
                        </select>

                        <div ng-show="!isSectionSelected && isSubmitWaiting">
                            <div ng-message="required" class="text-danger">Please select section.</div>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <a class="btn btn-danger btncolor" ng-click="sendWaiting(selectedGrade,selectedSection,frmwaiting)">Show</a>

                    </div>


                </div>
            </form>-->

            <div class="col-md-2 col-sm-3 col-xs-4">
                <input type="button" class="btn btncolor btnexport" id="btnRegister" name="btnRegister" ng-click="addGrade()" value="Add Grade" />
            </div>
        </div>
    </div>


    <div class="container">


        <div class="row">


            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                
                                <th>Grade Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr data-ng-repeat="item in grades|startFrom:CurrentPage*pageSize | limitTo:pageSize">

                               

                                <td>{{item.GradeName}}</td>
                                <td>
                                    <button type="button" class="btn btncolor" id="btnRegister" name="btnRegister" ng-click="editGrade(item,$index)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>

                                    <button type="button" class="btn btn-danger" id="btnDelete" name="btnDelete" ng-click="deleteGrade(item.GradeId,item.GradeName,$index)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btncolor" id="btnGuardian" name="btnGuardian" ng-click="sections(item)">
                                        Sections
                                        <!--<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>-->
                                    </button>

                                    <!--<input type="button" class="btn btn-danger" id="btnRegister" name="btnRegister" ng-click="delete(item.id)" value="Delete" />-->
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>

    <div ng-show="grades.length > 0" class="text-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btncolor btnnext" ng-disabled="CurrentPage == 0" ng-click="CurrentPage=CurrentPage-1">
                        Previous
                    </button>
                    {{CurrentPage+1}}/{{numberOfPages()}}
                    <button class="btn btncolor btnnext" ng-disabled="CurrentPage >= grades.length/pageSize - 1" ng-click="CurrentPage=CurrentPage+1">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>




</div>