﻿<md-dialog class="student-dialog-width" id="newstudent">
    <form id="frmGrade" name="frmGrade" ng-submit="addGrade(frmGrade.$valid)" novalidate>
        <md-dialog-container>
            <md-dialog-content layout-padding>
                <div ng-controller="saveGrade" ng-cloak>
                    {{title}}
                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                        <md-input-container>
                            <label>Grade Name</label>
                            <input id="txtGradeName" name="txtGradeName" ng-model="grade.GradeName" required />  <!--ng-change="isNameexist();"-->

                            <div ng-show="frmGrade.txtGradeName.$invalid && (!frmGrade.txtGradeName.$pristine || isSubmit)">
                                <div class="text-danger">Grade Name is required.</div>
                            </div>
                        </md-input-container>
                    </md-content>



                    <input type="button" class="btn btncolor btnexport" id="btnSave" name="btnSave" ng-click="addGrade(frmGrade)" value="Save" />
                    <input type="button" class="btn btncolor btnexport" id="btnCancel" name="btnCancel" ng-click="cancel()" value="Cancel" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </md-dialog-content>
        </md-dialog-container>
    </form>
</md-dialog>