﻿

<div class="wrapper" ng-controller="sections" ng-cloak>

    <div class="topbar gradeList">

        <div class="container">
            <div class="col-md-6 col-xs-8"><h2 class="font20">{{title}}</h2></div>

            <div class="col-md-2 col-sm-3 col-xs-4">
                <input type="button" class="btn btncolor btnexport" id="btnRegister" name="btnRegister" ng-click="addSection()" value="Add Section" />
            </div>
        </div>
    </div>


    <div class="container">


        <div class="row">


            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Grade</th>
                                <th>Section</th>
                                <th></th>
                            </tr>
                            <tr ng-if="sectionList.length==0" class="no-result">
                                <td colspan="15"> <span ng-show="noRecords">{{message}}</span></td>
                            </tr>
                        </thead>
                        <tbody>

                            <tr data-ng-repeat="item in sectionList|startFrom:CurrentPage*pageSize | limitTo:pageSize">

                                <td>{{item.GradeName}}</td>
                                <td>{{item.SectionName}}</td>
                                <td>
                                    <button type="button" class="btn btncolor" id="btnRegister" name="btnRegister" ng-click="editSection(item,$index)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>

                                    <button type="button" class="btn btn-danger" id="btnDelete" name="btnDelete" ng-click="deleteSection(item.SectionId,item.GradeName, item.SectionName,$index)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                    <!--<button type="button" class="btn btncolor" id="btnGuardian" name="btnGuardian" ng-click="guardians(item.Id)">
                                        Sections
                                    </button>-->
                                    <!--<input type="button" class="btn btn-danger" id="btnRegister" name="btnRegister" ng-click="delete(item.id)" value="Delete" />-->
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
               
            </div>



        </div>
    </div>
</div>