﻿<div class="wrapper" ng-controller="staffDashboard as vm" ng-cloak>
    <div class="topbar">
        <div class="container">
            <form class="form-horizontal offset-xs-0" name="frmwaiting" id="frmwaiting" novalidate>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <select name="selGrade" id="selGrade" ng-model="selectedGrade" class="form-control"
                                ng-change="getSectionByGradeId(selectedGrade)"
                                ng-options="item.GradeId as item.GradeName for item in grades" required>
                            <option value="">Select Grade</option>

                        </select>

                        <div ng-show="frmwaiting.selGrade.$invalid && (!frmwaiting.selGrade.$pristine || isSubmitWaiting )" ng-messages="frmwaiting.selGrade.$error">
                            <div ng-message="required" class="text-danger">Grade is required.</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <select name="selSection" id="selSection" ng-model="selectedSection" class="form-control" ng-disabled="isSections"
                                ng-options="item.SectionId as item.SectionName for item in sections">
                            <option value="">Select Section</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a class="btn btn-danger btncolor" ng-click="getStudentsByGrade(selectedGrade,selectedSection,frmwaiting)">Show</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 xsdiv">
                <div class="divheader dismissed headerbg">
                    <div class="row">
                        <div class="col-md-9 col-xs-9">
                            <h2>Waiting</h2>

                        </div>
                        <div class="col-md-3 col-xs-3">

                            <span class="waitingcount" ng-show="vm.waitingStudents.length > 0">{{vm.waitingStudents.length}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <input type="text" ng-model="waitingSearch" id="txtWaitingSearch" name="txtWaitingSearch" class="form-control mt-10" placeholder="Search..." />
                        </div>
                    </div>

                </div>
                <div class="divscorll">
                    <div  ng-class="{'nano':vm.waitingStudents.length>2 && filteredWaitingStudents.length>2}">
                        <div class="content">
                            <div class="s_waiting">

                                <div class="tile" data-ng-repeat="student in (filteredWaitingStudents=(vm.waitingStudents | filter:waitingSearch))">

                                    <label>

                                        <div class="namelist"><span>Name:</span><span>{{student.FullName}}</span></div>
                                        <!--<div class="namelist"><span>Father Name:</span><span></span></div>-->
                                        <div class="namelist">
                                            <span class="gradediv">Grade:{{student.Grade}}</span>
                                            <span class="sectiondiv">Section:{{student.SectionName}}</span>
                                        </div>
                                    </label>

                                </div>



                                <div class="tile" ng-if="vm.waitingStudents.length==0 || filteredWaitingStudents.length==0">
                                    <label class="norecord-label1">
                                        No records found
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-4 col-sm-4 xsdiv">
                <div class="divheader queued headerbg">
                    <div class="row">
                        <div class="col-md-9 col-xs-9">
                            <h2>In Queue</h2>

                        </div>
                        <div class="col-md-3 col-xs-3">
                            <span class="waitingcount inQueueCountColor" ng-show="vm.queueStudents.length > 0">{{vm.queueStudents.length}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <input type="text" ng-model="queueSearch" id="txtQueueSearch" name="txtQueueSearch" class="form-control mt-10" placeholder="Search..." />
                        </div>
                    </div>

                </div>
                <div class="divscorll">
                    <div ng-class="{'nano':vm.queueStudents.length>2 && filteredQueueStudents.length>2}">
                        <div class="content">
                            <div class="s_waiting">
                                <div class="tile" data-ng-repeat="queueStudent in (filteredQueueStudents=(vm.queueStudents | filter:queueSearch))">
                                    <label>
                                       
                                        <div class="namelist"><span>Name:</span><span>{{queueStudent.FullName}}</span></div>
                                        <!--<div class="namelist"><span>Father Name:</span></div>-->
                                        <div class="namelist">
                                            <span class="gradediv">Grade:{{queueStudent.Grade}}</span>
                                            <span class="sectiondiv">Section:{{queueStudent.SectionName}}</span>
                                        </div>

                                    </label>

                                </div>
                                <div class="tile" ng-if="vm.queueStudents.length==0  || filteredQueueStudents.length==0">
                                    <label class="norecord-label1">
                                        No records found
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-4 xsdiv">
                <div class="divheader successfully headerbg">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <h2>Dismissed: <span class="waitingcount inQueueCountColor" ng-show="vm.dismissStudents.length > 0">{{vm.dismissStudents.length}}</span> </h2>

                        </div>
                        <div class="col-md-6 col-xs-6">
                            <h2>Picked Up: <span class="waitingcount PickupCountColor" ng-show="vm.pickupStudents.length > 0">{{vm.pickupStudents.length}}</span></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <input type="text" ng-model="dismissedSearch" id="txtDismissedSearch" name="txtDismissedSearch" class="form-control mt-10" placeholder="Search..." />
                        </div>
                    </div>

                </div>
                <div class="divscorll">
                    <div  ng-class="{'nano':(vm.dismissStudents.length>2 && filteredDismissedStudents.length>2) || (vm.pickupStudents.length>2 && filteredPickedUpStudents.length>2)}">
                        <div class="content">
                            <div class="s_waiting">
                                <div class="tile" data-ng-repeat="dismissedStudent in (filteredDismissedStudents=(vm.dismissStudents | filter:dismissedSearch))">
                                    <label>
                                        <div class="namelist"><span>Name:</span><span>{{dismissedStudent.FullName}} </span></div>
                                        <div class="namelist">
                                            <!--<span class="gradediv">Father Name:</span>-->
                                            <span class="sectiondiv">Status:<em class="text-red">Pending</em></span>
                                        </div>

                                        <div class="namelist">
                                            <span class="gradediv">Grade:{{dismissedStudent.Grade}}</span>
                                            <span class="sectiondiv">Section:{{dismissedStudent.SectionName}}</span>
                                        </div>

                                    </label>

                                </div>
                                <div class="tile" data-ng-repeat="pickedStudent in (filteredPickedUpStudents=(vm.pickupStudents | filter:dismissedSearch))">
                                    <label>
                                        <div class="namelist"><span>Name:</span><span>{{pickedStudent.FullName}}</span></div>
                                        <div class="namelist">
                                            <!--<span class="gradediv">Father Name:</span>-->
                                            <span class="sectiondiv">Status:<em class="text-green">PickedUp</em></span>
                                        </div>
                                        <div class="namelist">
                                            <span class="gradediv">Grade:{{pickedStudent.Grade}}</span>
                                            <span class="sectiondiv">Section:{{pickedStudent.SectionName}}</span>
                                        </div>
                                    </label>

                                </div>


                                <div class="tile" ng-if="(vm.dismissStudents.length==0 || filteredDismissedStudents.length==0) && (vm.pickupStudents.length==0 || filteredPickedUpStudents.length==0)">
                                    <label class="norecord-label1">
                                        No records found
                                    </label>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
