﻿


<div ng-controller="guardianList" ng-cloak class="wrapper">
    <div class="topbar gradeList">

        <div class="container">
            <div class="col-md-6 col-xs-8"><h2 class="font18">{{title}}</h2></div>

            <div class="col-md-2 col-sm-3 col-xs-4">
                <input type="button" class="btn btncolor btnexport" id="btnAdd" name="btnAdd" ng-click="addGuardian()" value="Add Guardian" />

                <input type="button" class="btn btncolor btnexport" id="btnAdd" name="btnAdd" ng-click="linkGuardian()" value="Link Guardian" />
            </div>
        </div>
    </div>
    <div class="container">


        <div class="row">





            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Guardian Type</th>
                                <th>Guardian Name</th>
                                <th>Phone Number</th>
                                <th></th>
                            </tr>
                            <tr ng-if="guardians.length==0" class="no-result">
                                <td colspan="15"> <span ng-show="noRecords">{{message}}</span></td>
                            </tr>
                        </thead>
                        <tbody>

                            <tr data-ng-repeat="item in guardians|startFrom:CurrentPage*pageSize | limitTo:pageSize">

                                <td>{{item.StudentName}}</td>
                                <td>{{item.GuardianType}}</td>
                                <td>{{item.FirtName}} {{item.LastName}}</td>
                                <td>{{item.PhoneNumber}}</td>
                                <td>
                                    <button type="button" class="btn btncolor" id="btnEdit" name="btnEdit" ng-click="editGuardian(item,$index)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>

                                    <button type="button" class="btn btn-danger" id="btnDelete" name="btnDelete" ng-click="deleteGuardian(item.Id, StudentId, item.FirtName+ ' ' + item.LastName, item.GuardianType, $index)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="/students" class="btn btn-default btncolor">Back To Students</a>
    </div>

    <div ng-show="guardians.length > 0" class="text-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btncolor btnnext" ng-disabled="CurrentPage == 0" ng-click="CurrentPage=CurrentPage-1">
                        Previous
                    </button>
                    {{CurrentPage+1}}/{{numberOfPages()}}
                    <button class="btn btncolor btnnext" ng-disabled="CurrentPage >= guardians.length/pageSize - 1" ng-click="CurrentPage=CurrentPage+1">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>




</div>