﻿<md-dialog class="student-dialog-width" id="newstudent">
    <form id="frmGuardian" name="frmGuardian" ng-submit="addGuardian(frmGuardian.$valid)">
        <md-dialog-container>
            <md-dialog-content layout-padding>
                <div ng-controller="guardian" ng-cloak>
                    {{title}}
                    <md-content layout-gt-sm="row" layout-padding>

                        <md-input-container>
                            <label>Guardian Type</label>
                            <select name="selGuardian" id="selGuardian" ng-model="guardian.GuardianType" ng-change="isGuardianTypeExist(guardian.GuardianType)" class="form-control" required>
                                <option value="">Select Guardian</option>
                                <option value="Father">Father</option>
                                <option value="Mother">Mother</option>
                                <option value="Driver">Driver</option>
                            </select>

                            <div ng-show="frmGuardian.selGuardian.$invalid && (!frmGuardian.selGuardian.$pristine || isSubmit)">
                                <div class="text-danger">Please select Guardian Type.</div>
                            </div>

                        </md-input-container>

                        <md-input-container>
                            <label>First Name</label>
                            <input id="txtFirstName" name="txtFirstName" ng-model="guardian.FirtName" required />  <!--ng-change="isNameexist();"-->

                            <div ng-show="frmGuardian.txtFirstName.$invalid && (!frmGuardian.txtFirstName.$pristine || isSubmit )">
                                <div class="text-danger">First Name is required.</div>

                            </div>
                            <!--<div ng-show="iscategory">
                                <div ng-message="required">Name already existed.</div>
                            </div>-->

                        </md-input-container>


                        <md-input-container>
                            <label>Last Name</label>
                            <input id="txtLastName" name="txtLastName" ng-model="guardian.LastName" required />
                            <div ng-show="frmGuardian.txtLastName.$invalid && (!frmGuardian.txtLastName.$pristine || isSubmit )">
                                <div class="text-danger">Last Name is required.</div>

                            </div>


                        </md-input-container>

                        <md-input-container>
                            <label>Phone Number</label>
                            <!--<input id="txtPhNumber" name="txtPhNumber" ng-model="guardian.PhoneNumber" />-->
                            <input type="number" id="txtPhNumber" name="txtPhNumber" ng-model="guardian.PhoneNumber"
                                   class="frmGuardian"
                                   onkeypress="if(event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) return  true;else if(event.charCode >= 48 && event.charCode <= 57 && this.value.length<12) return true; else return false;"
                                   ng-minlength="12"
                                   ng-maxlength="12"
                                   required />
                            <p class="text-danger" ng-show="frmGuardian.txtPhNumber.$invalid && (!frmGuardian.txtPhNumber.$pristine || isSubmit) ">
                                Valid phone number is required and should be in 966xxxxxxxxx.
                            </p>
                            <p class="text-danger" ng-show="!check">
                                Valid phone number is required and should be in 966xxxxxxxxx.
                            </p>

                        </md-input-container>





                    </md-content>



                    <input type="button" class="btn btncolor btnexport" id="btnSave" name="btnSave" ng-click="addGuardian(frmGuardian)" value="Save" ng-disabled="isDisable" />
                    <input type="button" class="btn btncolor btnexport" id="btnCancel" name="btnCancel" ng-click="cancel()" value="Cancel" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </md-dialog-content>
        </md-dialog-container>
    </form>
</md-dialog>