﻿<md-dialog class="student-dialog-width" id="newstudent">
    <form id="frmGuardian" name="frmGuardian" ng-submit="addGrade(frmGuardian.$valid)" novalidate>
        <md-dialog-container>
            <md-dialog-content layout-padding>
                <div ng-controller="linkGuardian" ng-cloak>
                    {{title}}
                    <md-content layout-gt-sm="row" layout-padding>

                        <md-input-container>
                            <label>Guardian Type</label>
                            <select name="selGuardianType" id="selGuardianType" ng-model="guardian.GuardianType" class="form-control"
                                    ng-change="getGuadiansByGuardianType(guardian.GuardianType)" required>
                                <option value="">Select Guardian Type</option>
                                <option value="Father">Father</option>
                                <option value="Mother">Mother</option>
                                <option value="Driver">Driver</option>
                            </select>

                            <div ng-show="frmGuardian.selGuardianType.$invalid && (!frmGuardian.selGuardianType.$pristine || isSubmit)">
                                <div class="text-danger">Please select Guardian Type.</div>
                            </div>

                        </md-input-container>

                        <md-input-container>
                            <label>Guardian</label>
                            <select name="guardian" id="guardian" ng-model="guardian.Id" class="form-control"
                                    ng-options="item.Id as (item.FirtName + ' ' +item.LastName) for item in Guardians" required>
                                <option value="">Select Guardian</option>
                            </select>
                            <div ng-show="frmGuardian.guardian.$invalid && (!frmGuardian.guardian.$pristine || isSubmit)">
                                <div class="text-danger">Please select Guardian.</div>
                            </div>
                        </md-input-container>

                    </md-content>



                    <input type="button" ng-disabled="isDisable" class="btn btncolor btnexport" id="btnSave" name="btnSave" ng-click="linkGuardian(frmGuardian)" value="Save" />
                    <input type="button" class="btn btncolor btnexport" id="btnCancel" name="btnCancel" ng-click="cancel()" value="Cancel" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </md-dialog-content>
        </md-dialog-container>
    </form>
</md-dialog>