﻿<md-dialog class="student-dialog-width" id="newstudent">
    <form id="frmStudent" name="frmStudent" ng-submit="addGrade(frmStudent.$valid)" novalidate>
        <md-dialog-container>
            <md-dialog-content layout-padding>
                <div ng-controller="saveStudent" ng-cloak>
                    {{title}}
                    <md-content  layout-gt-sm="row" layout-padding>

                        <md-input-container>
                            <label>First Name</label>
                            <input id="txtFirstName" name="txtFirstName" ng-model="student.FirstName" required />  <!--ng-change="isNameexist();"-->

                            <div ng-show="frmStudent.txtFirstName.$invalid && (!frmStudent.txtFirstName.$pristine || isSubmit )">
                                <div class="text-danger">First Name is required.</div>

                            </div>
                            <!--<div ng-show="iscategory">
                                <div ng-message="required">Name already existed.</div>
                            </div>-->

                        </md-input-container>

                        <md-input-container>
                            <label>Middle Name</label>
                            <input id="txtMiddleName" name="txtMiddleName" ng-model="student.MiddleName" />

                        </md-input-container>
                        <md-input-container>
                            <label>Last Name</label>
                            <input id="txtLastName" name="txtLastName" ng-model="student.LastName" required />
                            <div ng-show="frmStudent.txtLastName.$invalid && (!frmStudent.txtLastName.$pristine || isSubmit )">
                                <div class="text-danger">Last Name is required.</div>

                            </div>


                        </md-input-container>

                        <md-input-container>
                            <label>DOB</label>
                            <!--<input id="txtDOBName" name="txtDOBName" ng-model="student.dOB" />-->

                            <!--<md-datepicker id="txtDOBName" name="txtDOBName" ng-model="student.DOB"   md-open-on-focus></md-datepicker>-->
                            <md-datepicker ng-model="myDate" id="txtDOBName" name="txtDOBName" 
                                           md-min-date="minDate"></md-datepicker>

                            <!--<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" id="txtDOBName" name="txtDOBName" class="form-control" data-ng-model="student.dOB" data-date-time-input="MM-DD-YYYY"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar datcolor"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="student.dOB"  data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                            </ul>-->

                        </md-input-container>

                        <md-input-container>
                            <label>Grade</label>
                            <select name="selGrade" id="selGrade" ng-model="student.GradeId" class="form-control"
                                    ng-change="getSectionByGradeId(student.GradeId)"
                                    ng-options="item.GradeId as item.GradeName for item in grades" required>
                                <option value="">Select Grade</option>
                            </select>

                            <div ng-show="frmStudent.selGrade.$invalid && (!frmStudent.selGrade.$pristine || isSubmit)">
                                <div class="text-danger">Please select grade.</div>
                            </div>

                        </md-input-container>

                        <md-input-container>
                            <label>Section</label>
                            <select name="selSection" id="selSection" ng-model="student.SectionId" class="form-control"
                                    ng-options="item.SectionId as item.SectionName for item in sections" required>
                                <option value="">Select Section</option>
                            </select>
                            <div ng-show="frmStudent.selSection.$invalid && (!frmStudent.selSection.$pristine || isSubmit)">
                                <div class="text-danger">Please select section.</div>
                            </div>
                        </md-input-container>

                    </md-content>



                    <input type="button" class="btn btncolor btnexport" id="btnSave" name="btnSave" ng-click="addStudent(frmStudent)" value="Save" />
                    <input type="button" class="btn btncolor btnexport" id="btnCancel" name="btnCancel" ng-click="cancel()" value="Cancel" />
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </md-dialog-content>
        </md-dialog-container>
    </form>
</md-dialog>